{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    },
    "rules": {
      "no-nested-ternary": 0,
      "react/require-extension": 0,
      "react/wrap-multilines": 0,
      "jsx-a11y/href-no-hash": 0,
      "no-plusplus": 0,
      "no-console": 0,
      "no-underscore-dangle": 0,
      "import/prefer-default-export": 0,
      "linebreak-style": 0
    }
}
